@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Images */
body {
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: right top;
}


@media (max-width: 576px) {
    body {
        background-image: url('../img/Vector.png');
        background-position: right top;
        background-size: 500px;
        background-repeat: no-repeat;
    }
}


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    z-index: 1000;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left:0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}


.open {
    transform: rotate(90deg);
    transform: translate(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}